@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(22,36,71);
  background: linear-gradient(66deg, rgba(22,36,71,1) 0%, rgb(21, 56, 146) 100%);

  /* height: 100vh; */
  width: 100%a;
}

button,
input {
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e43f5a; 
  }
  
  ::-webkit-scrollbar-thumb {
  background:#e43f5a; 
  }